<div class="box box-solid">
    <div class="box-body">
        <div class="post">
            <div class="user-block">
                <img class="img-circle" th:src="${answer.author.image}"
                     alt="user image">
                <span class="username"><a href="#" th:text="${answer.author.name}" class="link-black"></a></span>
                <span th:text="${answer.author.sign}" class="description"></span>
            </div>
            <div th:utext="${answer.content}" style="color: #4a4a4a; font-size: 18px"></div>
            <ul class="list-inline" style="margin-top: 10px">
                <li><a href="#" class="link-black"><i class="fa fa-thumbs-o-up" th:text="'  '+${answer.agree}+' 赞同'"></i></a></li>
                <li><a href="#" class="link-black"><i class="fa fa-star-o" th:text="'  '+${answer.collect}+' 收藏'"></i></a></li>
                <li class="pull-right">
                    <a href="#" class="link-black"><i class="fa fa-comments-o" th:text="'  '+${answer.comment}+' 评论'"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div th:if="${answer.comments.size()} gt '0'" class="box-footer box-comments">
        <div class="box-comment" th:each="comment : ${answer.comments}">
            <img class="img-circle img-sm" th:src="${comment.author.image}" alt="User Image">
            <div class="comment-text">
                <span style="color:#444;font-weight:600" th:text="${comment.author.name}"></span>
                <span class="text-muted pull-right" style="margin-right: 10px" th:text="${comment.getCommentTime()}"></span>
                <p th:text="${comment.content}"></p>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <form th:id="${answer.id}" action="#" method="post" onsubmit="comment('/api/answer/comment/',this);return false">
            <input type="text" class="form-control input-sm" placeholder="输入您的评论...">
        </form>
    </div>
</div>