<div class="row">
    <div class="col-md-12">
        <form id="idea-form" class="input-group" onsubmit="return false">
            <input id="idea-content" class="form-control input-lg" placeholder="发表你的想法...">
            <a href="#" class="input-group-addon"><i class="fa fa-star fa-lg"></i></a>
        </form>
        <ul style="margin-top: 15px" class="timeline" th:each="idea : ${list}">
            <li class="time-label"><span class="bg-red" th:text="${idea.getDateYMD()}"></span></li>
            <li>
                <div class="timeline-item">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" th:src="${idea.author.image}" alt="User Image">
                                <span class="username">
                                    <a href="#" th:text="${idea.author.name}"
                                       th:href="@{'http://localhost/profile.html?id='+${idea.author.id}}"></a>
                                </span>
                                <span class="description" th:text="${idea.author.sign}"></span>
                            </div>
                            <div class="box-tools margin-r-5" style="padding-top: 10px;">
                                <a href="javascript:void(0)"
                                   th:attr="data-idea-id=${idea.id},data-idea-agree=${idea.agree}"
                                   class="link-black" th:id="${idea.id}"
                                   onclick="postMetaData('/api/metadata/idea/agree/','data-idea-id','data-idea-agree',this)">
                                    <i class="fa fa-thumbs-up fa-lg"></i></a>
                                <script th:inline="javascript">
                                    loadMetaData('/api/metadata/exist/idea/agree/', [[${idea.id}]]);
                                </script>
                            </div>
                        </div>
                        <div class="box-body">
                            <p th:text="${idea.content}"></p>
                            <span class="text-muted" th:text="${idea.getDateHM()}"></span>
                            <span class="pull-right text-muted" th:text="${idea.getMeteData()}"></span>
                        </div>
                        <div th:if="${idea.comments.size()} gt '0'" class="box-footer box-comments">
                            <div class="box-comment"
                                 th:each="comment : ${idea.comments}">
                                <img class="img-circle img-sm" th:src="${comment.author.image}" alt="User Image"
                                     th:href="@{'http://localhost/profile.html?id='+${comment.author.id}}">
                                <div class="comment-text">
                                    <span style="color:#444;font-weight:600" >
                                        <a th:href="@{'http://localhost/profile.html?id='+${comment.author.id}}" th:text="${comment.author.name}"></a>
                                    </span>
                                    <span class="text-muted pull-right" style="margin-right: 10px"
                                          th:text="${comment.getCommentTime()}"></span>
                                    <p th:text="${comment.content}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <form th:attr="data-idea-id=${idea.id}" action="#" method="post"
                                  onsubmit="comment('/api/idea/comment/','data-idea-id',this);return false">
                                <input type="text" class="form-control input-sm" placeholder="输入您的评论...">
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>