<div class="box box-solid" th:id="${question.id}">
    <div class="box-header with-border">
        <a href="#" th:href="@{'http://localhost/content.html?type=question&page=0&id='+${question.id}}"
           th:text="${question.title}" class="link-black" style="font-size: 18px;color: black"></a>
    </div>
    <div class="box-body">
        <div class="post">
            <div class="user-block">
                <img class="img-circle" th:src="${question.author.image}"
                     alt="user image">
                <div class="btn-group pull-right" style="margin-right: 10px">
                    <button class="btn btn-default">关注问题</button>
                    <button class="btn btn-default" onclick="createAnswer(this)">撰写答案</button>
                </div>
                <span class="username"><a href="#" class="link-black" th:text="${question.author.name}"></a></span>
                <span th:text="${question.author.sign}" class="description"></span>

            </div>
            <div th:text="${question.content}" style="color: #4a4a4a; font-size: 18px"></div>
        </div>
    </div>
</div>