<div class="box box-solid" th:id="${question.id}">
    <div class="box-header with-border">
        <a href="#" th:text="${question.title}" onclick="overhang('success','click')"
           class="link-black" style="font-size: 18px;color: black"></a>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i style="color: black" class="fa fa-minus fa-lg"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
                <i style="color: black" class="fa fa-times fa-lg"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="post">
            <div class="user-block">
                <img class="img-circle" th:src="${question.author.image}"
                     alt="user image">
                <div class="btn-group pull-right" style="margin-right: 10px">
                    <button class="btn btn-default">关注问题</button>
                    <button class="btn btn-default">撰写答案</button>
                </div>
                <span class="username"><a href="#" class="link-black">知乎刘看山</a></span>
                <span class="description">发现更大的世界 - 5小时前</span>

            </div>
            <div th:text="${question.content}" style="color: #4a4a4a; font-size: 18px"></div>
        </div>
    </div>
</div>