<div class="box box-solid">
    <div class="box-header with-border">
        <a href="#" th:text="${recommend.title}" onclick="overhang('success','click')" class="link-black" style="font-size: 18px;color: black">
            如何看待中国民航局停止所有波音737Max商业飞行？</a>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i style="color: black" class="fa fa-minus fa-lg"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove">
                <i style="color: black" class="fa fa-times fa-lg"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="post">
            <div class="user-block">
                <img class="img-circle" src="/image/avatar.jpeg"
                     alt="user image">
                <div class="btn-group pull-right" style="margin-right: 10px">
                    <button class="btn btn-default">关注问题</button>
                    <button class="btn btn-default">撰写答案</button>
                </div>
                <span class="username"><a href="#" class="link-black">知乎刘看山</a></span>
                <span class="description">发现更大的世界 - 5小时前</span>

            </div>
            <div id="content" style="color: #4a4a4a; font-size: 18px">
                我们清楚，我们的工作性命攸关，因此我们团队每天都带着强烈的使命感拥抱这一责任。在波音，我们的目标是让家庭成员、
                朋友以及相亲相爱之人通过我们的商用飞机能够聚在一起，当然前提是安全。埃塞俄比亚航空302号航班以及狮航610航班遭遇的悲痛损失，
                影响着我们每个人，也让各国及相关的人们共同面对悲伤。我们心情很沉重，我们再次对航班乘客及机组成员的亲人表达深切的同情...
            </div>
            <ul class="list-inline" style="margin-top: 10px">
                <li><a href="#" class="link-black"><i class="fa fa-thumbs-o-up fa-lg margin-r-5"></i>139赞同</a></li>
                <li><a href="#" class="link-black"><i class="fa fa-star-o fa-lg margin-r-5"></i>12收藏</a></li>
                <li class="pull-right">
                    <a href="#" class="link-black margin-r-5">查看原答案</a>
                    <a href="#" class="link-black"><i class="fa fa-comments-o fa-lg margin-r-5"></i>5评论</a>
                </li>
            </ul>
            <div class="input-group">
                <input class="form-control" type="text" placeholder="添加新的评论">
                <a href="#" class="input-group-addon"><i class="fa fa-comment-o fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>